In [1]:
import pandas as pd

In [2]:

weather_df = pd.read_csv('newfile.csv')
weather_df=weather_df.set_index('City')
weather_df.head()

,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City,,,,,,,,
Mount Gambier,90,AU,1543874400,72,-37.83,140.78,59.00,5.82
Bubaque,0,GW,1543876304,96,11.28,-15.83,82.16,4.76
Hobart,75,AU,1543874400,54,-42.88,147.33,53.60,5.82
Busselton,32,AU,1543876897,100,-33.64,115.35,64.93,14.16
Cuamba,80,MZ,1543876898,76,-14.80,36.54,73.25,2.86

In [3]:
df_to_html = weather_df.to_html('weather_data.html')
df_to_html